<div ng-app="dashboard" ng-controller="warehouseStatusController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window"></span>
                HIỆN TRẠNG KHO
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form>
                <div class='section'>
                    <label>chọn kho</label>
                    <div style="width: 200px">
                        <select data-placeholder="chọn kho" id="sl-warehouses-product_type" ng-model='warehouse' ng-change='selectWarehouse()' class="chzn-select">
                            
                        </select>
                    </div>
                </div>
                <div class='section'>
                    <h3 style="margin-top: 10px">chi tiết kho {{warehouseName}}</h3>
                    <table>
                    <tr>
                        <td>
                            <div class="iconBox color">
                                <img src="/www/img/icon/zoom.png">
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="searchWarehouse" class="large"/>
                        </td>
                    </tr>
                </table>
                    <div style="margin-left: 30px">
                        <table class="display">
                            <thead>
                            <tr>
                                <th><div class="th_wrapp">stt</div></th>
                                <th><div class="th_wrapp">tên sản phảm</div></th>
                                <th><div class="th_wrapp">số lượng</div></th>
                                <th><div class="th_wrapp">Quy cách</div></th>
                            </tr>
                            </thead>
                            <tbody class="list_product_buy_price">
                                <tr class="product_buy_price" ng-repeat="item in warehouses| filter:searchWarehouse">
                                    <td class="small">{{item.stt}}</td>
                                    <td class="small">{{item.product_name}}</td>
                                    <td class="small">{{item.quantity}}</td>
                                    <td class="small">{{item.unit.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>