<div ng-app="dashboard" ng-controller="createOrderController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window"></span>
                Tạo đơn hàng
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form ng-submit="addWhole()">
                <div class='section'>
                    <label>chọn đối tác</label>
                    <div style="width: 200px">
                        <select data-placeholder="chọn khách hàng" ng-change="selectCustomer()" id="sl_customer" class="chzn-select" ng-model="order.customer_id"></select>
                    </div>
                    <label>Địa chỉ</label>
                    <div style="width: 200px">
                        <h4>{{address_store}}</h4>
                    </div>
                </div>
                <div class='section'>
                    <h3 style="margin-top: 10px">Danh sách sản phẩm nhập</h3>
                    <div style="margin-left: 0%">
                        <table class="display">
                            <thead>
                            <tr>
                                <th></th>
                                <th><div class="th_wrapp">STT</div></th>
                                <th><div class="th_wrapp">sản phẩm</div></th>
                                <th><div class="th_wrapp">Giá vốn</div></th>
                                <th><div class="th_wrapp">Quy cách</div></th>
                                <th><div class="th_wrapp">Giá bán</div></th>
                                <th><div class="th_wrapp">Số lượng</div></th>
                                <th><div class="th_wrapp">Thành tiền</div></th>
                            </tr>
                            </thead>
                            <tbody class="list_product_price">
                                <tr class="product_buy_price" data-id="1" id="tr_order_1">
                                    <td>
                                        <div class="iconBox color">
                                        <a class="btn_more_buy" data-id="1" ng-click="moreBuy()"  title="thêm giá">
                                            <img alt="" src="/www/img/icon/directional_down.png">
                                        </a>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td style="width: 150px">
                                        <select data-placeholder="sản phẩm" ng-model="select_product" ng-change="selectProduct()" class="chzn-select load_product"></select>
                                    </td>
                                    <td>
                                        <input style="width: 100px" type="text" class="show_buy" readonly/>
                                        <input type="hidden" class="show_buy_origin"/>
                                    </td>
                                    <td style="width: 150px">
                                        <select data-placeholder="chọn quy cách" ng-model="select_unit" ng-change="selectUnit()" class="chzn-select load_unit"></select>
                                    </td>
                                    <td>
                                        <input style="width: 100px" class="show_sale" type="text" readonly/>
                                        <input type="hidden" class="show_sale_origin"/>
                                    </td>
                                    <td><input style="width: 50px" ng-model="quantity" ng-keyup="calculatorPrice()" type="text"/></td>
                                    <td>
                                        <span id="show_bill_product_1"></span>
                                        <input class="bill_product" type="hidden" id="txt_hide_1" value="0"/>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" style="text-align: right">
                                        <h4>Tổng Cộng: <span id="total_bill">{{show_total_bill}}</span></h4>
                                        <input type="hidden" id="txt_hide_total_bill" ng-model="wholesale.total_bill"/>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class='section last'>
                    <div>
                        <input class="uibutton loading"  title="Saving" type="submit" value="Tạo hóa đơn"/>
                        Tình trạng: 
                        <b>Nợ &nbsp;</b>
                        <input type="text" class="xsmall" readonly ng-model="wholesale.debt"/>
                        <b>&nbsp; Thanh toán &nbsp;</b>
                        <input type="text" class="xsmall" ng-keyup="checkBill()" ng-model="wholesale.actual"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>