<div ng-app="dashboard" ng-controller="managementOrderController">
    <div class="column_left" style="margin-top: 10px; width: 50%">

        <div class="onecolumn">
            <div class="header"><span><span class="ico gray notepad"></span>Đơn hàng</span></div>
            <br class="clear"/>
            <div class="content tableName">
                <table class="display data_table" >
                    <thead>
                        <tr>
                            <th><div class="th_wrapp">STT</div></th>
                            <th><div class="th_wrapp">Ngày</div></th>
                            <th><div class="th_wrapp">Địa chỉ</div></th>
                            <th><div class="th_wrapp">Thành tiền</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, item) in orders" style="cursor: pointer;" ng-click="selectOrder($event)" data-id="{{item.id}}">
                            <td>{{key + 1}}</td>
                            <td>{{item.created}}</td>
                            <td>{{item.customer_address}}</td>
                            <td>{{item.total_price| number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="column_right" style="margin-top: 10px; width: 48%">

        <div class="onecolumn">
            <div class="header"><span><span class="ico gray notepad"></span>Sắp tuyến</span></div>
            <br class="clear"/>
            <div class="content tableName">
                <form>
                <table class="order_truck">
                    <tr>
                        <td><label>Xe</label></td>
                        <td style="width: 125px">
                            <select data-placeholder="chọn xe" id="order-truck-manager" ng-model="order.truck" ng-change="selectTruck()" class="small chzn-select"></select>
                        </td>
                        <td><label>Tài xế</label></td>
                        <td>
                            <select data-placeholder="chọn tài" id="order-staff-driver" ng-model="order.driver" class="chzn-select">
                                
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Ngày</label></td>
                        <td><input type="text" class="medium" ng-model="order.date" style="text-align: center" readonly value="{{date| date:'d-M-yyyy'}}"/></td>
                        <td><label>Lơ xe</label></td>
                        <td>
                            <select data-placeholder="chọn lơ" id="order-staff-subdriver" ng-model="order.sub_driver" class="chzn-select">
                                <option value="2">Tran Van B</option>
                            </select>
                        </td>
                    </tr>
                </table>
                </form>
                <table class="display data_table" >
                    <thead>
                        <tr>
                            <th><div class="th_wrapp">STT</div></th>
                            <th><div class="th_wrapp">Ngày</div></th>
                            <th><div class="th_wrapp">Địa chỉ</div></th>
                            <th><div class="th_wrapp">Thành tiền</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, item) in shipments" style="cursor: pointer;" ng-if="item.status != 5" ng-click="selectOrder($event,true)" data-id="{{item.id}}">
                            <td>{{key + 1}}</td>
                            <td>{{item.created}}</td>
                            <td>{{item.customer_address}}</td>
                            <td>{{item.total_price| number}}</td>
                        </tr>
                        <tr ng-repeat="(key, item) in shipments" style="cursor: pointer;" ng-if="item.status == 5" data-id="{{item.id}}">
                            <td>{{key + 1}}</td>
                            <td>{{item.created}}</td>
                            <td>{{item.customer_address}}</td>
                            <td>{{item.total_price| number}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="section" ng-if="shipments.length > 0">
                    <a class="uibutton icon next" ng-click="divideProduct()">Next</a>
                </div> 
            </div>
        </div>
    </div>
</div>