<div ng-app="dashboard" ng-controller="customersController">
    <div class="onecolumn" style="margin-top: 10px">
        <div class="header">
            <span ><span class="ico  gray random"></span> Danh sách {{type_customer}}</span>
        </div><!-- End header -->	
        <div class=" clear"></div>
        <div class="content"  >
            <div class="section">
                <table>
                    <tr>
                        <td>
                            <div class="iconBox color">
                                <img src="/www/img/icon/zoom.png">
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="searchCustomer" class="small"/>
                        </td>
                    </tr>
                </table>
            </div>
            <form> 
                <div class="tableName">
                    <table id="tabel_product_type" class="display">
                        <thead>
                            <tr>
                                <th><div class="th_wrapp">stt</div></th>
                                <th><div class="th_wrapp">Khách Hàng</div></th>
                                <th><div class="th_wrapp">Cửa Hàng</div></th>
                                <th><div class="th_wrapp">Địa Chỉ</div></th>
                                <th><div class="th_wrapp">ĐT nhà</div></th>
                                <th><div class="th_wrapp">Di động</div></th>
                                <th><div class="th_wrapp">action</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in products | filter:filter_product" class="odd gradeX">
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.unit_name}}</td>
                                <td>
                                    <span id="edit_btn_{{item.product_id}}">
                                        <span class="tip">
                                            <a href="#edit-product/{{item.product_id}}" title="Edit">
                                                <img src="/www/img/icon/icon_edit.png">
                                            </a>
                                        </span> 
                                        <span class="tip">
                                            <a id="1" class="Delete" title="Delete">
                                                <img src="/www/img/icon/icon_delete.png">
                                            </a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
    </div>
</div>
