<div ng-app="dashboard" ng-controller="warehouseSaleController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window"></span>
                Bán hàng {{warehouse_type}}
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form ng-submit="createBill()">
                <div class='section'>
                    <label>chọn khách hàng</label>
                    <div style="width: 200px">
                        <input type="hidden" id="type_sale_product" value="{{warehouse_type_en}}"/>
                        <select data-placeholder="chọn loại sản phẩm" class="chzn-select" ng-model="wholesale.partner">
                            <option value="1">tạp hóa mỹ linh</option>
                        </select>
                    </div>
                </div>
                <div class='section'>
                    <h3 style="margin-top: 10px">Danh sách sản phẩm nhập</h3>
                    <div style="margin-left: 5%">
                        <table>
                            <tr>
                                <th></th>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Quy cách</th>
                                <th>Giá mua</th>
                                <th>Thành tiền</th>
                            </tr>
                            <tbody class="list_product_price">
                                <tr class="product_buy_price" data-id="1" id="tr_product_buy_price_1">
                                    <td>
                                        <div class="iconBox color">
                                        <a class="btn_more_buy" data-id="1" ng-click="moreBuy()"  title="thêm giá">
                                            <img src="/www/img/icon/directional_down.png">
                                        </a>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td style="width: 210px">
                                        <select data-placeholder="sản phẩm" onchange="loadUnitProduct(this,true)" class="chzn-select load_product"></select>
                                    </td>
                                    <td class="small"><input type="text" onkeyup="calculatorMoney(this)"/></td>
                                    <td class="small load_unit"  style="width: 180px"><select onchange="selectPrice(this,true)" data-placeholder="chọn quy cách" class="chzn-select"></select></td>
                                    <td class="small"><input type="text" readonly/></td>
                                    <td class="small">
                                        <span id="show_bill_product_1"></span>
                                        <input class="bill_product" type="hidden" id="txt_hide_1" value="0"/>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" style="text-align: right">
                                        <h4>Tổng Cộng: <span id="total_bill">{{show_total_bill}}</span></h4>
                                        <input type="hidden" id="txt_hide_total_bill" ng-model="wholesale.total_bill"/>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class='section last'>
                    <div>
                        <input class="uibutton loading"  title="Saving" type="submit" value="Tạo hóa đơn"/>
                        Tình trạng: 
                        <b>Nợ &nbsp;</b>
                        <input type="text" class="xsmall" readonly ng-model="wholesale.debt"/>
                        <b>&nbsp; Thanh toán &nbsp;</b>
                        <input type="text" class="xsmall" ng-keyup="checkBill($event)" ng-model="wholesale.actual"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>