<div ng-app="dashboard" ng-controller="warehouseWholesaleController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window"></span>
                Nhập hàng {{warehouse_type}}
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form ng-submit="addWhole()">
                <div class='section'>
                    <label>chọn theo đối tác</label>
                    <div style="width: 200px">
                        <input type="hidden" id="type_sale_product" value="{{warehouse_type_en}}"/>
                        <input type="text" ng-model="searchCustomer"/>
                    </div>
                </div>
                <div class='section' ng-if="searchCustomer != ''">
                    <table class="display">
                        <thead>
                            <th>STT</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ</th>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer" ng-click="selectCustomer()" ng-repeat="(key,item) in customers|filter:searchCustomer">
                                <td>{{key + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='section' ng-if="show_customer.length != 0">
                    <label>Tên đối tác</label>
                    <div style="width: 200px"><h6>{{show_customer.name}}</h6></div>
                    <label>Địa chỉ</label>
                    <div style="width: 200px"><h6>{{show_customer.address}}</h6></div>
                    <label>Di động</label>
                    <div style="width: 200px"><h6>{{show_customer.phone_mobile[0]}}</h6></div>
                    <label>ĐT bàn</label>
                    <div style="width: 200px"><h6>{{show_customer.phone_home[0]}}</h6></div>
                    <label ng-if="show_customer.total_debt.debt != null && show_customer.total_debt.debt != 0">Tổng nợ :</label>
                    <div ng-if="show_customer.total_debt.debt != null && show_customer.total_debt.debt != 0">{{show_customer.total_debt.debt | number}} - <a href="#total-debit-customer/{{show_customer.id}}">xem chi tiết</a></div>
                </div>
                <div class='section'>
                    <h3 style="margin-top: 10px">Danh sách sản phẩm</h3>
                    <div style="margin-left: 0%">
                        <table class="display">
                            <thead>
                            <tr>
                                <th></th>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Quy cách</th>
                                <th>Giá mua</th>
                                <th>Thành tiền</th>
                            </tr>
                            </thead>
                            <tbody class="list_product_price">
                                <tr class="product_buy_price" data-id="1" id="tr_product_buy_price_1">
                                    <td style="width: 20px;">
                                        <div class="iconBox color">
                                        <a class="btn_more_buy" data-id="1" ng-click="moreBuy()"  title="thêm giá">
                                            <img src="/www/img/icon/directional_down.png">
                                        </a>
                                        </div>
                                    </td>
                                    <td style="width: 15px;">1</td>
                                    <td style="width: 180px">
                                        <select data-placeholder="sản phẩm" onchange="loadUnitProduct(this)" class="chzn-select load_product"></select>
                                    </td>
                                    <td ><input style="width: 60px" type="text" onkeyup="calculatorMoney(this)"/></td>
                                    <td class="small load_unit" style="width: 140px"><select data-placeholder="chọn quy cách" class="chzn-select"></select></td>
                                    <td ><input style="width: 80px;" type="text" onkeyup="calculatorMoney(this)"/></td>
                                    <td class="small">
                                        <span id="show_bill_product_1"></span>
                                        <input class="bill_product" type="hidden" id="txt_hide_1" value="0"/>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" style="text-align: right">
                                        <h4>Tổng Cộng: <span id="total_bill">{{show_total_bill}}</span></h4>
                                        <input type="hidden" id="txt_hide_total_bill" ng-model="wholesale.total_bill"/>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class='section last'>
                    <div>
                        <input class="uibutton loading"  title="Saving" type="submit" value="Tạo hóa đơn"/>
                        Tình trạng: 
                        <b>Nợ &nbsp;</b>
                        <input type="text" class="xsmall" readonly id="debt_warehouse" />
                        <input type="hidden" ng-model="wholesale.debt"/>
                        <b>&nbsp; Thanh toán &nbsp;</b>
                        <input type="text" class="xsmall" ng-keyup="checkBill()" id="actual_warehouse"/>
                        <input type="hidden" ng-model="wholesale.actual"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>