<div ng-app="dashboard" ng-controller="createProductController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window"></span>
                Thêm sản phẩm
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form ng-submit="createProduct()">
                <div class='section'>
                    <label>Tên sản phẩm</label>
                    <div><input type="text" ng-model="product.name" required class="medium"/></div>
                </div>
                <div class='section'>
                    <label>Mã sản phẩm</label>
                    <div><input type="text" ng-model="product.code" required class="medium"/></div>
                </div>
                <div class='section'>
                    <label>mô tả</label>
                    <div><textarea class='editor' ng-model="product.description" cols="50" rows="5"></textarea></div>
                </div>
                <div class='section'>
                    <label>Ngành Hàng</label>
                    <div style="width: 200px">
                        <select data-placeholder="chọn loại sản phẩm" id="product-type" class="chzn-select" ng-model="product.product_type"></select>
                    </div>
                </div>
                <div class="section">
                    <label>giá bán</label>
                    <div style="margin-left: 260px;">
                        <table class="display">
                            <thead>
                            <tr>
                                <th>Đơn vị</th>
                                <th>Số lượng</th>
                                <th>Quy cách</th>
                                <th>Giá bán</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="list_product_price">
                                <tr class="product_price" ng-repeat="item in product.sale_price" id="tr_product_price_{{item.id}}">
                                    <td class="small">{{item.parent_name}}</td>
                                    <td class="small"><input type="text" value="{{item.quantity}}" /></td>
                                    <td class="small"><input type="text" value="{{item.name}}"/></td>
                                    <td class="small"><input type="text" ng-keyup="formatNumber()" value="{{item.price|number}}"/></td>
                                    <td>
                                        <div class="iconBox color">
                                            <a id="btn_more_price" data-id="1" ng-click="morePrice()"  title="thêm giá">
                                                <img src="/www/img/icon/directional_down.png">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="section" ng-if="product.buy_price.length > 0">
                    <h5>giá mua</h5>
                    <div style="margin-left: 30px;">
                        <table class="display">
                            <thead>
                            <tr>
                                <th><div class="th_wrapp">Ngày Nhập</div></th>
                                <th><div class="th_wrapp">Số lượng</div></th>
                                <th><div class="th_wrapp">Số lượng còn lại</div></th>
                                <th><div class="th_wrapp">Quy cách</div></th>
                                <th><div class="th_wrapp">kho</div></th>
                                <th><div class="th_wrapp">Giá mua</div></th>
                            </tr>
                            </thead>
                            <tbody class="list_product_buy_price">
                                <tr class="product_buy_price" ng-repeat="item in product.buy_price" id="tr_product_price_{{item.id}}">
                                    <td class="small">{{item.created}}</td>
                                    <td class="small">{{item.quantity}}</td>
                                    <td class="small">{{item.remaining_quantity}}</td>
                                    <td class="small">{{item.unit}}</td>
                                    <td class="small">{{item.warehouse}}</td>
                                    <td class="small">{{item.price | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class='section last'>
                    <div>
                        <input class="uibutton loading"  title="Saving" type="submit" value="save"/>
                        <a class="uibutton special" href="#product">cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>