<div ng-app="dashboard" ng-controller="billController">
    <div class="onecolumn" style="margin-top: 10px">
        <div class="header">
            <span ><span class="ico  gray random"></span> Danh sách Hóa đơn {{product_name_type}}</span>
        </div><!-- End header -->	
        <div class=" clear"></div>
        <div class="content">
            <div class="section">
                <table>
                    <tr>
                        <td>
                            <div class="iconBox color">
                                <img src="/www/img/icon/zoom.png">
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="filter_bill" class="small"/>
                        </td>
                    </tr>
                </table>
            </div>
            <form> 
                <div class="tableName">
                    <table class="display">
                        <thead>
                            <tr>
                                <th><div class="th_wrapp">id</div></th>
                                <th><div class="th_wrapp">Mã Hóa đơn</div></th>
                                <th><div class="th_wrapp">Tên khách hàng</div></th>
                                <th><div class="th_wrapp">Thành tiền</div></th>
                                <th><div class="th_wrapp">Ngày tạo</div></th>
                                <th><div class="th_wrapp">action</div></th>
                        </tr>
                        </thead>
                        <tbody id="show_product">
                            <tr ng-repeat="item in bills | filter:filter_bill" class="odd gradeX" data-id="{{item.id}}">
                                <td>{{item.id}}</td>
                                <td>{{item.bill_code}}</td>
                                <td>{{item.customer_name}}</td>
                                <td>{{item.price_total | number}}</td>
                                <td>{{item.created}}</td>
                                <td>
                                    <span id="edit_btn_{{item.id}}">
                                        <span class="tip">
                                            <a href="#bill-detail/{{type}}/{{item.id}}" title="Edit">
                                                <img src="/www/img/icon/icon_edit.png">
                                            </a>
                                        </span> 
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
    </div>
</div>