<div ng-app="dashboard" ng-controller="createOrderController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window"></span>
                Tạo đơn hàng
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form ng-submit="addWhole()">
                <div class='section'>
                    <label>Chọn khách hàng</label>
                    <div style="width: 200px">
                        <input type="text" ng-model="searchCustomer"/>

                    </div>

                </div>
                <div class='section' ng-if="searchCustomer != ''">
                    <table class="display">
                        <thead>
                            <th>STT</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ</th>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer" ng-click="selectCustomer()" ng-repeat="(key,item) in customers|filter:searchCustomer">
                                <td>{{key + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.address}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="section">
                    <label>Tên khách hàng</label>
                    <div style="width: 200px"><h6>{{customer_name}}</h6></div>
                    <label>Địa chỉ</label>
                    <div style="width: 200px"><h6>{{address_store}}</h6></div>
                    <label>Di động</label>
                    <div style="width: 200px"><h6>{{phone_mobile[0]}}</h6></div>
                    <label>ĐT bàn</label>
                    <div style="width: 200px"><h6>{{phone_home[0]}}</h6></div>
                    <label ng-if="total_debt != null && total_debt != 0">Tổng nợ :</label>
                    <div ng-if="total_debt != null && total_debt != 0">{{total_debt | number}} - <a href="#total-debit-customer/{{customer.id}}">xem chi tiết</a></div>
                </div>
                <div class='section'>
                    <h3 style="margin-top: 10px">Danh sách sản phẩm nhập</h3>
                    <div style="margin-left: 0%">
                        <table class="display">
                            <thead>
                            <tr>
                                <th></th>
                                <th><div class="th_wrapp">STT</div></th>
                                <th><div class="th_wrapp">sản phẩm</div></th>
                                <th><div class="th_wrapp">Giá vốn</div></th>
                                <th><div class="th_wrapp">Quy cách</div></th>
                                <th><div class="th_wrapp">Giá bán</div></th>
                                <th><div class="th_wrapp">Số lượng</div></th>
                                <th><div class="th_wrapp">Thành tiền</div></th>
                            </tr>
                            </thead>
                            <tbody class="list_order_product">
                                <tr class="product_order" data-id="1" id="tr_order_1">
                                    <td>
                                        <div class="iconBox color">
                                        <a class="btn_more_order" data-id="1" ng-click="moreOrder()"  title="thêm giá">
                                            <img alt="" src="/www/img/icon/directional_down.png">
                                        </a>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td style="width: 150px">
                                        <select data-placeholder="sản phẩm" ng-model="select_product" ng-change="selectProduct()" class="chzn-select load_product"></select>
                                    </td>
                                    <td>
                                        <input style="width: 100px" type="text" class="show_buy" readonly/>
                                        <input type="hidden" class="show_buy_origin"/>
                                    </td>
                                    <td style="width: 150px">
                                        <select data-placeholder="chọn quy cách" ng-model="select_unit" ng-change="selectUnit()" class="chzn-select load_unit"></select>
                                    </td>
                                    <td>
                                        <input style="width: 100px" class="show_sale" type="text" readonly/>
                                        <input type="hidden" class="show_sale_origin"/>
                                    </td>
                                    <td><input style="width: 50px" ng-model="quantity" ng-keyup="calculatorPrice()" type="text"/></td>
                                    <td>
                                        <span id="show_bill_product_1"></span>
                                        <input class="price_order" type="hidden" id="txt_hide_1" value="0"/>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" style="text-align: right">
                                        <h4>Tổng Cộng: <span id="total_order">{{show_total_order}}</span></h4>
                                        <input type="hidden" id="txt_hide_total_bill" />
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="section">
                    <label>Ghi chú</label>
                    <div>
                        <textarea ng-model="order.note" cols="95" rows="6"></textarea>
                    </div>
                </div>
                <div class='section last'>
                    <div>
                        <input class="uibutton loading" ng-click="saveOrder()" title="Saving" type="submit" value="Tạo hóa đơn"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>