<div ng-app="dashboard" ng-controller="statusOrderController">
    <div class="onecolumn" style="margin-top: 10px">
        <div class="header">
            <span ><span class="ico  gray random"></span> Danh sách Đơn hàng</span>
        </div><!-- End header -->	
        <div class=" clear"></div>
        <div class="content">
            <div ng-repeat="(key, shipment) in shipments" style="margin-bottom: 70px">
            <div class="section">
                <table>
                    <tr>
                        <td><label>Xe</label></td>
                        <td style="width: 180px">
                            <input type="text" readonly value="{{shipment.truck_id}}" class="small"/>
                        </td>
                        <td>
                            <label>Tài xế</label>
                        </td>
                        <td>
                            <input type="text" readonly value="{{shipment.driver}}" class="small"/>
                        </td>
                        <td>
                            <a style="position: absolute" ng-if="shipment.status == 0" data-shipment-id="{{shipment.id}}" data-status="{{shipment.status}}" ng-click="changeStatus($event)" class="uibutton confirm large">Xuất phát</a>
                            <a style="position: absolute" ng-if="shipment.status == 1" data-shipment-id="{{shipment.id}}" data-status="{{shipment.status}}" ng-click="changeStatus($event)" class="uibutton special large">Kết thúc</a>
                            <a style="position: absolute" ng-if="shipment.status == 2" data-shipment-id="{{shipment.id}}" data-status="{{shipment.status}}" ng-click="changeStatus($event)" class="uibutton large">Đã Giao</a>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Ngày</label></td>
                        <td style="width: 180px">
                            <input type="text" readonly value="{{shipment.created}}" class="small"/>
                        </td>
                        <td><label>Lơ xế</label></td>
                        <td>
                            <input type="text" readonly value="{{shipment.sub_driver}}" class="small"/>
                        </td>
                        <td></td>
                    </tr>
                </table>
                
            </div>
            <form> 
                <div class="tableName">
                    <table class="display" id="tabel_product">
                        <thead>
                            <tr>
                                <th><div class="th_wrapp">stt</div></th>
                                <th><div class="th_wrapp">Tên cửa hàng</div></th>
                                <th><div class="th_wrapp">Địa chỉ</div></th>
                                <th><div class="th_wrapp">Thành tiền</div></th>
                                <th><div class="th_wrapp">Hiện trạng</div></th>
                                <th ng-if="shipment.status == 2"><div class="th_wrapp">Thanh toán</div></th>
                                <th><div class="th_wrapp">action</div></th>
                            </tr>
                        </thead>
                        <tbody id="show_product">
                            <tr ng-repeat="item in shipment.orders" data-shipment-id="{{shipment.id}}" data-order-id="{{item.id}}" class="odd gradeX" data-id="{{item.id}}">
                                <td>{{key + 1}}</td>
                                <td>{{item.customer_detail.name}}</td>
                                <td>{{item.customer_detail.address}}</td>
                                <td>{{item.total_price | number}}</td>
                                <td>
                                    <span ng-if="shipment.status != 2">{{item.status.name}}</span>
                                    <select ng-if="shipment.status == 2" id="status_shipment_{{shipment.id}}_order_{{item.id}}" class="medium chzn-select">
                                        <option value="3">Đã Giao</option>
                                        <option value="4">Xuất vào kho</option>
                                        <option value="5" ng-if="item.status.id == 5" selected>Để lại</option>
                                        <option value="5" ng-if="item.status.id != 5" >Để lại</option>
                                        <option value="6">Lấy 1 nữa hàng</option>
                                    </select>
                                </td>
                                <td ng-if="shipment.status == 2" style="width: 100px">
                                    <input id="price_shipment_{{shipment.id}}_order_{{item.id}}" ng-keyup="formatNumber()" type="text" class="medium"/>
                                </td>
                                <td><a class="uibutton" data-shipment-id="{{shipment.id}}" data-order-id="{{item.id}}" ng-click="handlingOrder($event)" style="width: 35px">xử lý</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>